body{
	background: #f2f2f2;
	color: #ffffff;
	background: url('733838.jpg') no-repeat; 
	margin: 1%;
	padding: 1%;
}

nav{
	box-sizing: border-box;
	border: 1px solid #06425c;
	color: #06425c;
	background: #486b02;
	display: inline-block;
	width: 20%;
	min-width: 125px;
	margin-right: 15px;
	height: 100vh;
	overflow: auto;
}

nav a{
	display: block;
	line-height: 45px;
	height: 45px;
	color: #ffffff;
	background: #486B02;
	text-decoration: none;
	padding-left: 50px;
	margin: 10px 0 10px 5px;
}

section{
	display: inline-block;
	width: 70%;
	height: 100vh;
	overflow: auto;
}
